#dongtai{
    /*height: 900px;*/
    flex: 4;
    overflow: scroll;
    /*display: flex;*/
}
#dongtai1{
    height: 700px;
    width: 100%;
}
#shoubu{
    height: 90px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
#touxiang1{
    border-radius:50%;
    height: 75px;
    width: 75px;
    margin-left: 20px;
    margin-top: 13px;
    background-image: url("../img/ef19510feeb0064c691944e21ea26ad.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
#shoubuwenzi1{
    height: 80px;
    width: 300px;
    margin-top: 13px;
    margin-right: 400px;
}
#name{
    height: 45px;
    width: 100%;
    line-height: 50px;
    font-size: 26px;
    margin-left: 6px;
    font-family: "Adobe 黑体 Std R";
}
#date{
    height: 3px;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    margin-left: 6px;
    color: #BDBDBD;
}
#wenzi_1{
    height: 20px;
    width: 100%;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 30px;
}
#wenzi_2{
    height: 20px;
    width: 100%;
    margin-left: 20px;
    font-size: 22px;
    margin-top: 30px;
    color: #BDBDBD;
}
#sishi{
    height: 300px;
    width: 760px;
    background-image: url("../img/e1b54909c3eef2650386979c2563b13.png");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 20px;
}
#biaoqian{
    height: 150px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
#biaoqian1{
    width: 180px;
    height: 50px;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: #BDBDBD;
    background-color:#E0E0E0;
}
#biaoqian2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
#pinglun{
    flex: 1;
    height: 30px;
    background-image: url("../img/评论 (1).svg");
    background-position: center;
    background-size: 26%;
    background-repeat: no-repeat;
    margin-top: 42px;
}
#zan{
    flex: 1;
    height: 33px;
    background-image: url("../img/赞 (4).svg");
    background-position: center;
    background-size: 26%;
    background-repeat: no-repeat;
    margin-top: 39px;

}
#caidan{
    flex: 1;
    height: 30px;
    background-image: url("../img/菜单 (2).svg");
    background-position: center;
    background-size: 26%;
    background-repeat: no-repeat;
    margin-top: 42px;
}
