/*#turnfigure2{*/
    /*!*height: 30%;*!*/
    /*!*background-color: chartreuse;*!*/
    /*flex: 1;*/
/*}*/
.turnfigure2 {
    height: 270px;
    width: 800px;
    background-image: url("../img/260a1fd86c773baf5a69010982948e1.jpg");
    background-position: center;
    background-size: 99.6%;
}